a
{
  font-size: 15px;
  text-align: center;
  color: white;
  padding-bottom: 10px;
  text-decoration: none;
}
h1
{
  font-family: Impact;
  color: white;
  text-align: center;
  font-size: 3.3em;
}
body
{
  color: white;
  font-family: Impact;
  text-align: center;
  margin: auto;
	border-radius: 10px;
  background: black;
  border: 3px solid grey;
  width: 705px;
  height: 605px;
}
#photo1 img
{
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
}
#ver
{
  height: 5px;
  width: 70px;
  margin-top: 145px;
  border-radius: 5px;
  position: relative;
  right: -5px;
  bottom: 10px;
  box-shadow: 0px 4px 4px #1c1a19;
  margin-bottom: 30px;
}
p
{
  font-family: Arial;
  color: white;
  font-size: 10px;
}
