body
{
    color: white;
    background: black;
    margin: auto;
    padding: 10 2em;
    border-radius: 10px;
    border: 3px solid grey;
    width: 705px;
    height: 605px;
}
h1
{
  color: white;
  text-align: center;
  list-style-type:none;
}
p
{
  font-family: Arial;
  font-size: 10px;
  text-align: center;
}
li
{
  font-size: 20px;
  text-align: center;
}
nav ul
{
  list-style-type:none;
  display: flex;
  justify-content: center;
  padding-left: 2px;
}
#ver
{
  margin-top: 26px;
  height: 15px;
  width: 60px;
  border-radius: 5px;
  position: relative;
  left: 5px;
  bottom: -18px;
  box-shadow: 0px 4px 4px #1c1a19;
}
