body
{
    color: white;
    background: black;
    margin: auto;
    padding: 10 2em;
    border-radius: 10px;
    border: 3px solid grey;
    width: 905px;
    height: 805px;
    list-style-type:none;
}
h1
{
  margin-bottom: -29px;
  font-family: Impact;
  text-align: center;
}
p
{
  list-style-type:none;
  text-align: center;
}
h2
{
  color: white;
  text-align: center;
}
a
{
  text-align: center;
  font-family: Impact;
  font-size: 10px;
}
.progress-bar-active
{
  width: 250px;
  height: 20px;
  color:  white;
}
.progress-bar
{
  color: white;
}
.bs
{

  margin: 100px;
}
#img_figth
{
  width: 100px;
  height: 100px;
}
#ver
{
  margin-top: 15px;
  height: 15px;
  width: 60px;
  border-radius: 5px;
  position: relative;
  right: -5px;
  bottom: -400px;
  width: 30px;
  box-shadow: 0px 4px 4px #1c1a19;
  margin-bottom: 30px;
}
